<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_day01:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_day01_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_day01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_day01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="spring-beans-3.2.0.RELEASE" />
          <element id="library" level="project" name="spring-context-3.2.0.RELEASE" />
          <element id="library" level="project" name="spring-core-3.2.0.RELEASE" />
          <element id="library" level="project" name="spring-expression-3.2.0.RELEASE" />
          <element id="library" level="module" name="JUnit4" module-name="Spring_day01" />
          <element id="library" level="project" name="com.springsource.org.apache.commons.logging-1.1.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>